{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "syntax-async-functions",
    "transform-regenerator",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "plugins": ["__coverage__"]
    }
  }
}
